.content {
    display: flex;
    text-align: center;
}

.block_weather:hover {
    -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.75);
}

img {
    width: 190px;
    height: 190px;
    padding: 0 10px;
}

.day {
    font-family: Lato, Helvetica, serif;
    font-weight: 400;
    background: #5694b3;
    color: white;
    font-size: 1.5em;
}

.temp {
    font-family: Lato, Helvetica, serif;
    font-weight: 700;
    font-size: 2em;
}

.block_weather {
    margin: 5px;
}
