* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
}

#cookiesBox {
    margin: 0 auto;
    width: 400px;
    max-width: 500px;
}

#cookiesBox>div {
    margin: 0 auto 10px auto;
}

#buttonsBlock {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#addBtn,
#clearBtn {
    outline: none;
    border: none;
    padding: 5px;
}

#addBtn {
    background: blue;
    color: white;
    padding: 10px 20px;
}

#clearBtn {
    background: lightcoral;
    color: white;
    padding: 10px 20px;
}

#addBtn:active,
#clearBtn:active {
    box-shadow: 0 0 3px grey;
}

#textArea,
#notesArchive {
    margin: 0 auto;
    background: #f0f0f0;
    padding: 15px;
}

#cookiesText {
    margin: 15px auto 0 auto;
    width: 100%;
    border: 1px rgb(62, 83, 103);
}

#notesTextArea {
    background: white;
    margin-top: 10px;
    padding: 5px;
}

#notesTextArea>span {
    display: block;
}