a[href*="//www"] {
    color: green;
}

a[target="_blank"]::after {
    content: "\21d2";
    padding-left: 5px;
    color: coral;
}

a[href^="https:"]::before {
    content: "\00bb";
    padding-right: 10px;
}

a[href^="http:"]::before {
    content: "\00d7";
    padding-right: 10px;
    color: red;
}

a[href$="a"]:hover::after {
    content: "\2026 last symbol is 'a'";
    color: coral;
    font-style: italic;
}
